* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;  
    font-size: 12px;
}

header {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 54px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
}

.menu {
    display: flex;
    width: 935px;
    height: 54px;
    justify-content: space-between;
    align-items: center;
}

.menu-box {
    display: flex;
}

.menu-box-icon ion-icon {
    margin-left: 24px;
}

.menu p {
    border: 1px solid #DBDBDB;
    width: 215px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
}

.cellphone {
    display: none;
}

.logo-hr {
    width: 1px;
    height: 22px;
    margin: 0 20px;
    background-color: #DBDBDB;
    background: #DBDBDB;
}


ion-icon {
    font-size: 22px;
    z-index: -1;
}

.contente {
    width: 935px;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-top: 88px;
    width: 935px;
}

.heavy-p {
    font-weight: 500;
    font-size: 14px;
    font-family: roboto;
    color: #262626;
}

.heavy-p-follow {
    font-weight: 500;
    font-size: 14px;
    font-family: roboto;
    color: #139EF2;

}

.slim-p-suggestions {
    font-weight: 500;
    font-family: roboto;
    font-size: 12px;
    color:#8E8E8E;

}

.slim-p {
    font-weight: 400;
    font-family: roboto;
    font-size: 12px;
    color:#8E8E8E;
}

.slim-p-profile {
    font-weight: 300;
    font-size: 14px;
    font-family: roboto;
    color: #8E8E8E;
}

.stories {
    position: relative;
    margin-top: 34px;
    margin-bottom: 24px;
    width: 613px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    border-color: #DBDBDB;
    overflow-x: hidden;
}

.stories-button {
    position: absolute;
    z-index: 1;
    left: 560px;
    color: #FFFFFF;
}

.stories-button ion-icon{
    font-size: 26px;
}

.stories div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 14px;
} 

.stories-circle{
    width: 66px;
    height: 66px;
    z-index: -1;
    margin-bottom: 8px;
}

.stories-p {
    font-family: roboto;
    font-weight: 400;
    font-size: 12px;
    color:#262626
}

.profile-stories {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.post {
    width: 614px;
    height: 749px;
    margin-bottom: 60px;
    font-size: 14px;
    border: 1px solid;
    border-color: #DBDBDB;
}

.post-heavy-p{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.post-heavy-p-profile{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.post-slim-p {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}

.profile-image-post {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 15px 15px 13px 17px;
}

.profile-image-suggestions {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 11px;
}

.post div {
    display: flex;
    align-items: center;
    
}

.post-top {
    display: flex;
    justify-content: space-between;
}

.main-image {
    width: 612px;
    height: 612px;
}

.main-video {
    width: 612px;
    height: 612px;
}

.post-bottom {
    display: flex;
    justify-content: flex-start;
}

.post-bottom ion-icon {
    margin: 8px 0px 12px 18px;
}

.button-bottom {
    display: flex;
    justify-content: space-between;
}

.save {
    margin-right: 17px;
}

.ellipsis {
    margin-right: 18px;
}


.like {
    margin-left: 17px;
}

.like-image {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.see-all {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 17px;
}


.profile-image {
    width: 56px;
    border-radius: 28px;
    margin: 0px 11px 0px 0px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hr-profile {
    width: 293px;
    height: 1px;
    background-color: #fafafa;
    margin-top: 0px;
    margin-bottom: 36px;
}

.suggestions {
    display: flex;
    flex-direction: column;
    width: 293px;
}

.follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sidebar {
    width: 293px;
    height: 466px;
    position: fixed;
    right: calc(50vw - 468px);
    margin-top: 27px;
}

.sidebar-hr {
    background-color: #DBDBDB;
}

.bottom-menu {
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 1;
    height: 50px;
    width: 100%;
    border-top: 1px solid #DBDBDB;
    display: none;
}

.bottom-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

@media (max-width: 935px){
    .sidebar {
        display: none;
    }

    .stories {
        margin-left: auto;
        margin-right: auto;   
    }
    
    .post {
        margin-left: auto;
        margin-right: auto;
    }

    .menu {
        justify-content: space-around;
    }
}

@media (max-width: 614px){
    
    .sidebar {
        display: none;
    }

    .stories {
        border: 0px; 
    }
    
    header {
        width: 100%;
    
    }

    .contente{
        width: 100%;
    }

    main {
        width: auto;
    }

    .menu {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .menu hr{
        display: none;
    }

    .menu p{
        display: none;
    }

    .menu ion-icon:nth-child(4){
        display: none;
    }

    .menu ion-icon:nth-child(2){
        display: none;
    }

    .menu ion-icon:nth-child(3){
        display: none;
    }
    
    .cellphone {
        display: block;
    }

    .menu-box {
        margin-left: 21px;
    }

    .menu-box img {
        display: none;
    }

    .menu-box-icon {
        margin-right: 21px ;
    }

    .post {
        width: 100%;
    }

    .main-image {
        width: 100%;
    }

    .main-video {
        width: 100%;
        aspect-ratio: 4/5;
        object-fit: cover;
    }

    .stories {
        width: 100%;
    }

    .bottom-menu {
        display: block;
    }
}